@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  font-family:'Poppins', sans-serif;
}

body{
  overflow:hidden;
}

/* ================= CONTAINER ================= */

.container{
  width:100%;
  height:100vh;

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* ================= CARD ================= */

.card{
 
  width:420px;

  background:rgba(255,255,255,0.2);
  border:1px solid rgba(255,255,255,0.25);

  border-radius:24px;
  padding:40px 35px;

  display:flex;
  flex-direction:column;
  align-items:center;

  text-align:center;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.1);
}


/* ================= PROFILE ================= */

.profile-img{
  width:100px;
  height:100px;

  object-fit:cover;

  border-radius:50%;

  margin-bottom:15px;

  border:3px solid white;

  box-shadow:
  0 3px 10px rgba(0,0,0,0.12);
}

/* ================= TITLE ================= */

.card h2{
  color:#20549e;

  font-size:32px;
  font-weight:700;
  text-align:center;
  margin-bottom:22px;
}

/* ================= INPUT ================= */

.card input{
  width:100%;
  padding:14px;
  margin-top:14px;
  border-radius:14px;
  border:2px solid #7c8cff;
  outline:none;
  background:
  rgba(255,255,255,0.85);
  font-size:15px;
  transition:0.2s ease;
  text-align:left;
}

.card input:focus{
  border-color:#4f46e5;
}

/* ================= BUTTON ================= */

.btn{
  width:100%;
  padding:14px;
  margin-top:25px;
  border:none;
  border-radius:30px;
  text-align:center;
  background:
  linear-gradient(
    90deg,
    #ff6ec7,
    #6c63ff
  );

  color:white;

  font-size:17px;
  font-weight:600;

  cursor:pointer;

  transition:0.2s ease;

  box-shadow:
  0 4px 10px rgba(108,99,255,0.2);
}

.btn:hover{
  transform:translateY(-2px);
}

/* ================= SIGNUP ================= */

.signup-text{
  margin-top:20px;

  color:#374151;

  font-size:15px;
}

.signup-text span{
  color:#4f46e5;

  font-weight:600;

  cursor:pointer;

  transition:0.2s ease;
}

.signup-text span:hover{
  color:#7c3aed;
}

/* ================= RESPONSIVE ================= */

@media(max-width:500px){

  .card{
    width:90%;
    padding:35px 25px;
  }

}