@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  font-family:'Poppins', sans-serif;
}

body{
  overflow-x:hidden;

  background:#eef4ff;
}

/* ================= PAGE ================= */

.games-page{
  width:100%;
  min-height:100vh;
  padding-top:115px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  /* padding-bottom:100px; */
}

/* ================= HERO ================= */

.hero-section{
  width:90%;

  margin:auto;

  padding-top:40px;
}

.hero-box{
  width:85%;

  margin:auto;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  border-radius:22px;

  padding:15px 18px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:
  0 8px 20px rgba(0,0,0,0.12);
}

.hero-text{
  width:60%;
  color:white;
  font-size:22px;
  font-weight:600;
  padding-left:28px;
  line-height:1.7;
}

.hero-img{
  width:190px;
}

/* ================= SCORE ================= */
.score-section{
  width:85%;
  margin:30px auto;
}

.score-card{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.08);
}

.score-card h2{
  color:#8b5cf6;
  margin-bottom:10px;
}

.score-card h1{
  font-size:60px;
  color:#2563eb;
}


.score-number{

  font-size:48px;

  color:#2563eb;

  font-weight:700;
}

.score-divider{

  width:3px;

  height:80px;

  background:#c084fc;

  border-radius:20px;
}

.score-right{

  flex:1;

  padding-left:30px;
}

.progress-bar{

  width:100%;

  height:16px;

  background:#ddd6fe;

  border-radius:20px;

  overflow:hidden;
}

.progress-fill{

  height:100%;

  background:
  linear-gradient(
    90deg,
    #6366f1,
    #8b5cf6
  );

  border-radius:20px;

  transition:0.5s;
}

.progress-text{

  text-align:right;

  margin-top:10px;

  color:#6366f1;

  font-weight:600;
}

@media(max-width:900px){

  .score-card{

    flex-direction:column;

    gap:20px;

    text-align:center;
  }

  .score-divider{

    width:100%;

    height:3px;
  }

  .score-right{

    width:100%;

    padding-left:0;
  }

} 

/* ================= QUESTION ================= */

.question-section{
  width:85%;

  margin:50px auto;
}

.question-card{
  background:
  linear-gradient(
    90deg,
    #ffffff,
    #ead7ff
  );

  border-radius:20px;

  padding:35px;

  margin-bottom:35px;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.08);
}

.question-card h2{
  color:#111827;

  font-size:30px;
  font-weight:500;

  line-height:1.6;

  margin-bottom:30px;
}

/* ================= OPTION ================= */

.option-container{
  display:flex;
  flex-direction:column;

  gap:15px;
}

.option-btn{
  width:100%;

  padding:16px 20px;

  border:
  2px solid #7cb7ff;

  border-radius:15px;

  background:white;

  text-align:left;

  font-size:20px;

  cursor:pointer;

  transition:0.2s;
}

.option-btn:hover{
  background:#f3f4ff;
}

.option-btn.active{

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #4f46e5
  );

  color:white;

  border:none;
}

.option-btn.wrong{

  background:
  linear-gradient(
    90deg,
    #c02d1d,
    #f82a05
  );

  color:white;

  border:none;
}

/* ================= SUBMIT ================= */

.submit-wrapper{
  display:flex;
  justify-content:center;
}

.submit-btn{
  padding:18px 70px;
  margin-bottom:50px;
  border:none;
  border-radius:40px;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #4f46e5
  );

  color:white;

  font-size:24px;
  font-weight:600;

  cursor:pointer;

  box-shadow:
  0 10px 20px rgba(79,70,229,0.25);
}

/* ================= RESPONSIVE ================= */

@media(max-width:900px){

  .hero-box{
    flex-direction:column;

    text-align:center;

    gap:20px;
  }

  .hero-text{
    width:100%;

    font-size:22px;
  }

  .hero-img{
    width:150px;
  }

  .question-section{
    width:92%;
  }

  .question-card{
    padding:25px;
  }

  .question-card h2{
    font-size:22px;
  }

  .option-btn{
    font-size:16px;
  }

}

@media(max-width:768px){

  /* HERO */
  .hero-text{
    font-size:16px;
    line-height:1.5;
    padding-left:0;
  }

  .hero-img{
    width:110px;
  }

  /* SCORE */
  .score-card{
    padding:20px;
  }

  .score-card h2{
    font-size:18px;
  }

  .score-number,
  .score-card h1{
    font-size:32px;
  }

  .progress-text{
    font-size:14px;
  }

  /* QUESTION */
  .question-card{
    padding:18px;
  }

  .question-card h2{
    font-size:18px;
    line-height:1.5;
  }

  /* OPTIONS */
  .option-btn{
    font-size:14px;
    padding:12px 15px;
  }

  /* BUTTON */
  .submit-btn{
    font-size:16px;
    padding:14px 35px;
  }

}