@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  text-align:left;

  scroll-behavior:smooth;
}

html,
body{
  width:100%;

  overflow-x:hidden;
}
a {
    text-decoration: none;
  }
body{
  background:#f5f5f5;
}

/* ================= HOME ================= */

.home{
  width:100%;
  min-height:100vh;

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* ================= NAVBAR ================= */

/* .navbar{
  width:100%;
  height:85px;

  position:fixed;
  top:0;
  z-index:999;

  background:rgba(255,255,255,0.96);

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 40px;

  border-bottom:
  1px solid rgba(0,0,0,0.05);
}

.logo{
  width:135px;
}

.nav-links{
  display:flex;
  gap:28px;
}

.nav-links a{
  text-decoration:none;
  color:black;
  font-weight:500;

  transition:0.2s ease;
}

.nav-links a:hover{
  color:#9a5cff;
}

.login-btn{
  padding:11px 24px;

  border:none;
  border-radius:30px;

  background:linear-gradient(
    90deg,
    #b06dff,
    #4c7dff
  );

  color:white;

  text-decoration:none;

  transition:0.2s ease;
}

.login-btn:hover{
  transform:translateY(-2px);
} */

/* ================= HERO ================= */

.hero{
  padding-top:100px;

  text-align:center;
}

.hero h1{
  font-size:55px;
  color:#4c6fd8;
  margin-bottom:35px;
  text-align: center;
}

.hero-box{
  width:72%;
  margin:auto;
  background:linear-gradient(
    90deg,
    #b67eff,
    #4d85ff
  );

  border-radius:20px;
  padding:20px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.08);
}

.hero-text{
  width:25%;

  color:white;
}

.hero-text h2{
  font-size:26px;

  margin-bottom:10px;
}

.hero-text p{
  line-height:1.6;
  font-size:14px;
}

.right{
  text-align:right;
}

.maskot{
  width:240px;
}


/* ================= GALLERY ================= */

.gallery{
  padding:80px 20px;

  display:flex;
  justify-content:center;
  gap:20px;

  flex-wrap:wrap;
}

.gallery img{
  width:400px;
  /* height:300px; */

  object-fit:cover;

  border-radius:15px;

  box-shadow:
  0 4px 10px rgba(0,0,0,0.1);

  transition:0.2s ease;
}

.gallery img:hover{
  transform:translateY(-3px);
}

/* ================= TITLE ================= */

.title-line{
  width:160px;
  height:4px;

  background:#a46cff;

  margin:auto;
  margin-top:-35px;
  margin-bottom:40px;

  border-radius:10px;
}

/* ================= SECTION ================= */

.why-section,
.funfact-section,
.movie-section,
.feedback-section{
  width:90%;

  margin:auto;

  padding-bottom:90px;
}

.why-section h2,
.funfact-section h2,
.movie-section h2,
.feedback-section h2{
  text-align:center;

  font-size:38px;

  color:#9b5dff;

  margin-bottom:45px;
}

/* ================= WHY ================= */

.why-container{
  display:flex;
  justify-content:center;
  gap:25px;

  flex-wrap:wrap;
}

.why-card{
  width:300px;

  background:white;

  padding:25px;

  border-radius:18px;

  box-shadow:
  0 4px 10px rgba(0,0,0,0.06);
}

.why-card h3{
  color:#175ac0;

  margin-bottom:12px;
}

.why-card p{
  line-height:1.7;
  color:#20549e;
}

/* ================= FUNFACT ================= */

.funfact-text{
  width:65%;

  margin:auto;

  text-align:center;

  line-height:1.7;

  color:#20549e;

  margin-bottom:45px;
}

.funfact-container{
  display:flex;
  justify-content:center;
  gap:20px;

  flex-wrap:wrap;
}

.funfact-container img{
  width:240px;
  border-radius:18px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.1);
  transition:0.2s ease;
}

.funfact-container img:hover{
  transform:translateY(-3px);
}

/* ================= MOVIE ================= */

.movie-container{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(220px,1fr));

  gap:20px;
}

.movie-card{
  background:white;

  padding:12px;

  border-radius:18px;

  box-shadow:
  0 4px 10px rgba(0,0,0,0.08);

  transition:0.2s ease;
  cursor:pointer;
}

.movie-card:hover{
  transform:translateY(-3px);
}

.movie-card img{
  width:100%;

  border-radius:14px;
}

.movie-card p{
  margin-top:10px;

  text-align:center;

  color:#20549e;
}

/* ================= FEEDBACK ================= */

.feedback-section textarea{
  width:100%;
  height:200px;

  border:2px solid #d5bcff;

  border-radius:15px;

  padding:18px;

  resize:none;

  outline:none;
}

.send-btn{
  margin-top:20px;

  padding:14px 35px;

  border:none;
  border-radius:30px;

  background:linear-gradient(
    90deg,
    #4fd6ff,
    #4964ff
  );

  color:white;

  cursor:pointer;

  transition:0.2s ease;
}

.send-btn:hover{
  transform:translateY(-2px);
}

/* ================= FOOTER ================= */

/* ================= RESPONSIVE ================= */

@media(max-width:900px){

  .navbar{
    padding:0 20px;
  }

  .nav-links{
    display:none;
  }

  .hero-box{
    width:90%;

    flex-direction:column;

    gap:20px;
  }

  .hero-text{
    width:100%;
    text-align:left;
    font-size: 5px;
  }

  .right{
    text-align:right;
  }

  .maskot{
    width:210px;
  }

  .hero h1{
    font-size:42px;
  }

}