@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  text-align:left;

  scroll-behavior:smooth;
}

.maskot{
    width:300px;
    height:auto;
    flex-shrink:0;
    margin:0 20px;
  }
html,
body{
  width:100%;

  overflow-x:hidden;
}
a {
    text-decoration: none;
  }
body{
  background:#f5f5f5;
}

/* ================= HOME ================= */

.home{
  width:100%;
  min-height:100vh;

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* ================= HERO ================= */

.hero{
  padding-top:100px;

  text-align:center;
}

.hero h1{
  font-size:55px;
  color:#4c6fd8;
  margin-bottom:35px;
  text-align: center;
}

/* ================= START SECTION ================= */


.start-section{
  margin-top:40px;
  text-align:center;
}

.start-title{
  color:#7c3aed;
  font-size:30px;
  text-align:center;
}

.start-line{
  width:150px;
  height:3px;

  background:#a46cff;

  margin:10px auto 20px;
  border-radius:20px;
}

.start-desc{
  max-width:550px;
  margin:auto;

  color:#4b5563;
  line-height:1.8;

  text-align:center;
}

/* ================= GALLERY ================= */

.gallery{
  padding:80px 20px;
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.gallery img{
  width:300px;
  /* height:300px; */
  object-fit:cover;
  border-radius:15px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.1);
  transition:0.2s ease;
}

.gallery img:hover{
  transform:translateY(-3px);
}

/* ================= TITLE ================= */

.title-line{
  width:160px;
  height:4px;
  background:#a46cff;
  margin:auto;
  margin-top:-35px;
  margin-bottom:40px;
  border-radius:10px;
}

/* ================= SECTION ================= */

.why-section,
.funfact-section,
.movie-section,
.feedback-section{
  width:90%;
  margin:auto;
  padding-bottom:90px;
}

.why-section h2,
.funfact-section h2,
.movie-section h2,
.feedback-section h2{
  text-align:center;
  font-size:38px;
  color:#9b5dff;
  margin-bottom:45px;
  margin-top:45px;
}

/* ================= WHY ================= */

.why-container{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.why-card{
  width:300px;
  background:white;
  padding:25px;
  border-radius:18px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.06);
  transition:all 0.3s ease;
}

.why-card:hover{
  transform:translateY(-6px) scale(1.02);
  box-shadow:
  0 12px 25px rgba(0,0,0,0.18);
}

.why-card h3{
  color:#175ac0;
  margin-bottom:12px;
}

.why-card p{
  line-height:1.7;
  color:#20549e;
}

/* ================= FUNFACT ================= */



.funfact-box{

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  text-align: center;

}

.funfact-title{
  font-size:32px;
  font-weight:700;
  color:#1f5aa8;
  letter-spacing:1px;
  text-align:center;
}

.funfact-desc{
  width:75%;
  margin:auto;
  font-size:20px;
  color:#1f5aa8;
  line-height:1.8;
  text-align:center;
  padding-bottom:50px;
}

 .funfact-container{
    /* display:flex;
    justify-content:center; */
    
    width: 85%;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px; 
}
.funfact-container img{
  /* width:220px;
  border-radius:18px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.1);
  transition:0.2s ease; */
  width:220px;
  border-radius:18px;

  box-shadow:
    0 12px 25px rgba(0,0,0,0.18);

  transition:0.3s ease;
}

.funfact-container img:hover{
  transform:translateY(-3px);
  /* width:220px;
  border-radius:18px;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.15);

  transition:0.3s ease; */
   width:220px;
  border-radius:18px;

  box-shadow:
    0 12px 25px rgba(0,0,0,0.15),
    0 4px 12px rgba(59,130,246,0.15);

  transition:0.3s ease;

}

/* ================= MOVIE ================= */

.movie-container{
  display:grid;
  grid-template-columns:
  repeat(3,1fr);
  gap:30px;
}

.movie-card{
  background:white;
  padding:12px;
  border-radius:18px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.08);
  transition:0.2s ease;
  cursor:pointer;
}

.movie-card:hover{
  transform:translateY(-3px);
}

.movie-card img{
  width:100%;
  border-radius:14px;
}

.movie-card p{
  margin-top:10px;
  text-align:center;
  color:#20549e;

  font-weight: bold;
}

/* ================= FEEDBACK ================= */

.feedback-section textarea{
  width:100%;
  height:200px;
  border:2px solid #d5bcff;
  border-radius:15px;
  padding:18px;
  resize:none;
  outline:none;
  text-align:left;
}

.send-btn{
  margin-top:20px;
  padding:14px 35px;
  border:none;
  border-radius:30px;
  border:3px solid white;
  background:linear-gradient(
    90deg,
    #b56cff,
    #4d7dff
  );


  color:white;
  cursor:pointer;
  transition:0.2s ease;
}

.send-btn:hover{
  transform:translateY(-4px);

  box-shadow:
    0 12px 25px rgba(59,130,246,.35);
}

.send-btn:active{
  transform:scale(.96);

  box-shadow:
    0 4px 10px rgba(59,130,246,.2);
}


/* ================= RESPONSIVE ================= */

@media(max-width:900px){

  .navbar{
    padding:0 20px;
  }

  .nav-links{
    display:none;
  }

  .hero-box{
    width:90%;
    max-width: 1000px;
    margin:auto;
    display:flex;
    align-items:center;
    /* flex-direction:column;
    gap:20px; */
     justify-content:space-between;
    background:
    linear-gradient(
      90deg,
      #c084fc,
      #3b82f6
    );

    border-radius:25px;
    padding:40px 35px;
    overflow:hidden; /* penting */
    }

  .hero-text{
    width:35%;
    /* text-align:left; */
    font-size: 5px;
  }

  .right{
    text-align:right;
  }

  .maskot{
    width:250px;
    height:auto;
    flex-shrink:0;
    margin:0 20px;
  }

  .hero h1{
    font-size:42px;
  }
}

  /* =================  MOBILE ================= */

@media(max-width:768px){

  .hero-box{
    flex-direction:column;
    align-items:center;
    padding:35px 25px;
    gap:20px;
    position:relative;
  }

   .maskot{
    position:static;
    transform:none;
    width:170px;
    /* margin:10px auto; */
    order:1;
  }

  .hero-text:first-child{
    order:2;

    width:100%;

    text-align:center;
  }

  .hero-text.right{
    order:3;

    width:100%;

    text-align:center;
  }

/* funfact */

  .funfact-title{
    font-size:22px;
  }

  .funfact-desc{
    width:95%;
    font-size:14px;
    line-height:1.7;
  }

  .funfact-container{
    width:85%;
    margin:20px auto 0;
    gap:25px;
    display:flex;
    justify-content:center;
    overflow-x: auto;
    flex-wrap:nowrap;
    justify-content:flex-start;
    scroll-snap-type: x mandatory;
  }

  .funfact-container img{
    min-width:80%;
    scroll-snap-align: center;
    /* display:flex;
    justify-content:center; */
  }

  .gallery{
    overflow-x:auto;
    flex-wrap:nowrap;

    scroll-snap-type:x mandatory;

    padding:30px 20px;

    justify-content:flex-start;
  }

  .gallery::-webkit-scrollbar{
    display:none;
  }

  .gallery img{
    min-width:85%;

    scroll-snap-align:center;
  }

  .movie-container{

    display:flex;

    overflow-x:auto;

    gap:15px;

    scroll-snap-type:x mandatory;
  }

  .movie-container::-webkit-scrollbar{
    display:none;
  }

  .movie-card{

    min-width:260px;

    scroll-snap-align:center;
  }

}

