@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  font-family:'Poppins', sans-serif;
}

body{
  overflow-x:hidden;
  background:#f5f7ff;
}

.materi-page{
  width:100%;
  min-height:100vh;

  padding-bottom:100px;
}

/* HERO */

.hero-section{
  width:90%;

  margin:auto;

  padding-top:140px;
}

.hero-box{
  width:90%;

  margin:auto;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  border-radius:25px;

  padding:30px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:
  0 8px 20px rgba(0,0,0,0.12);
}

.hero-text{
  width:60%;

  color:white;

  font-size:30px;
  font-weight:600;

  line-height:1.8;
}

.hero-img{
  width:220px;
}

/* MATERI */

.materi-section{
  width:85%;

  margin:60px auto;
}

.materi-section h2{
  color:#2563eb;

  font-size:40px;

  margin-bottom:20px;
}

.materi-card{
  background:
  linear-gradient(
    90deg,
    #ffffff,
    #f3e8ff
  );

  border-radius:22px;

  padding:35px;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.08);
}

.materi-card p{
  color:#1e293b;

  font-size:20px;

  line-height:1.9;
}

/* BUTTON */

.btn-group{
  display:flex;
  justify-content:center;

  gap:20px;

  margin-top:70px;
}

.next-btn{
  padding:18px 45px;

  border:none;
  border-radius:35px;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #7c3aed
  );

  color:white;

  font-size:20px;
  font-weight:600;

  cursor:pointer;
}

.game-btn{
  padding:18px 45px;

  border:none;
  border-radius:35px;

  background:
  linear-gradient(
    90deg,
    #2563eb,
    #1d4ed8
  );

  color:white;

  font-size:20px;
  font-weight:600;

  cursor:pointer;
}

.next-btn:hover,
.game-btn:hover{
  transform:translateY(-3px);

  transition:0.2s;
}

/* RESPONSIVE */

@media(max-width:900px){

  .hero-box{
    flex-direction:column;

    text-align:center;

    gap:20px;
  }

  .hero-text{
    width:100%;

    font-size:22px;
  }

  .hero-img{
    width:170px;
  }

  .materi-section{
    width:92%;
  }

  .materi-section h2{
    font-size:28px;
  }

  .materi-card p{
    font-size:16px;
  }

  .btn-group{
    flex-direction:column;

    align-items:center;
  }

}