 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding-top: 15px;
  box-sizing:border-box;

  font-family:'Poppins', sans-serif;
}

body{
  overflow-x:hidden;
}

.info-container{
  width:100%;
  min-height:100vh;

  background-size:cover;
  background-position:center;

  /* padding-bottom:80px; */
  padding-top: 100px;
}

.mode-wrapper{
  display:flex;
  justify-content:center;

  gap:20px;

  padding-top:120px;
}

.mode-btn{
  padding:14px 40px;

  border:none;
  border-radius:30px;

  background:white;

  color:#2563eb;

  font-size:18px;
  font-weight:600;

  cursor:pointer;

  transition:0.2s;
}

.active-mode{

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  color:white;
}

.info-wrapper{
  width:90%;

  margin:auto;

  padding-top:40px;
}

.adventure-text{
  text-align:center;

  color:#3566c7;

  font-size:30px;

  margin-bottom:20px;
}

.maskot{
  width:180px;
  display:block;
  margin:auto;
  animation: floatRotate 4s ease-in-out infinite;
}

@keyframes floatRotate{
  0%{
    transform: translateY(0) rotate(0deg);
  }

  25%{
    transform: translateY(-4px) rotate(-2deg);
  }

  50%{
    transform: translateY(-8px) rotate(0deg);
  }

  75%{
    transform: translateY(-4px) rotate(2deg);
  }

  100%{
    transform: translateY(0) rotate(0deg);
  }
}

.hero-box{
  width:90%;
  margin:20px auto;
  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  border-radius:20px;
  padding:25px 35px;
  display:flex;
  justify-content:space-between;
  align-items:center;

  color:white;
}

.hero-text{
  font-size:18px;
  font-weight:600;
  width:35%;
}

.right{
  text-align:right;
}

.level-container{
  width:85%;

  margin:50px auto;
}

.level-row{
  display:flex;
  align-items:center;

  gap:20px;

  margin-bottom:30px;

  cursor:pointer;
}

.level-icon{
  width:55px;
  height:55px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#cbd5e1;

  color:white;

  font-size:22px;
  font-weight:bold;

  transition:0.2s;
}

.active{
  background:#2563eb;
}

.level-card{
  flex:1;

  background:white;

  padding:25px;

  border-radius:18px;

  transition:0.2s;
}

.active-card{
  border-left:8px solid #2563eb;

  transform:translateY(-3px);

  box-shadow:
  0 8px 20px rgba(37,99,235,0.18);
}

.level-card h3{
  color:#20549e;

  margin-bottom:8px;
}

.level-card p{
  color:#64748b;
}

.start-btn{
  display:block;
  margin:60px auto;
  padding:18px 60px;
  border:none;
  border-radius:40px;
  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  color:white;
  font-size:22px;
  font-weight:600;
  cursor:pointer;
    transition:all .25s ease;
    box-shadow:
    0 8px 20px rgba(59,130,246,.25);
}

.start-btn:hover{
  transform:translateY(-4px);

  box-shadow:
    0 12px 25px rgba(59,130,246,.35);
}

.start-btn:active{
  transform:scale(.96);

  box-shadow:
    0 4px 10px rgba(59,130,246,.2);
}

/* mobile */

@media (max-width: 768px){

  .hero-box{
    width:85%;
    margin:15px auto;
    padding:15px;
    display:flex;
    align-items:center;
    gap:15px;
  }

  .hero-maskot{
    width:70px;
    flex-shrink:0;
  }

  .hero-content{

    display:flex;
    flex-direction:column;
    gap:6px;
  }

  .hero-text{

    font-size:6px;
    width:100%;
    text-align:center;

  }

  .start-btn{
  display:block;
  margin:60px auto;
  padding:18px 60px;
  border:none;
  border-radius:40px;
  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  color:white;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
}

}