@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  font-family:'Poppins', sans-serif;
}

body{
  overflow-x:hidden;
}

.info-container{
  width:100%;
  min-height:100vh;

  background-size:cover;
  background-position:center;

  padding-bottom:80px;
}

.info-wrapper{
  width:90%;

  margin:auto;

  padding-top:40px;
}

.adventure-text{
  text-align:center;

  color:#3566c7;

  font-size:28px;

  margin-bottom:20px;
}

.maskot{
  width:180px;

  display:block;

  margin:auto;
}

.hero-box{
  width:90%;

  margin:20px auto;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  border-radius:20px;

  padding:25px 35px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  color:white;

  box-shadow:
  0 8px 20px rgba(0,0,0,0.12);
}

.hero-text{
  font-size:24px;
  font-weight:600;

  width:35%;
}

.right{
  text-align:right;
}

.level-container{
  width:85%;

  margin:50px auto;
}

.level-row{
  display:flex;
  align-items:center;

  gap:20px;

  margin-bottom:30px;
}

.level-icon{
  width:55px;
  height:55px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;

  font-size:22px;
  font-weight:bold;
}

.active{
  background:#2563eb;
}

.locked{
  background:#cbd5e1;
}

.level-card{
  flex:1;

  background:white;

  padding:25px;

  border-radius:18px;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.08);
}

.active-card{
  border-left:6px solid #8b5cf6;
}

.level-card h3{
  color:#20549e;

  margin-bottom:8px;
}

.level-card p{
  color:#64748b;
}

.start-btn{
  display:block;

  margin:60px auto;

  padding:18px 60px;

  border:none;
  border-radius:40px;

  background:
  linear-gradient(
    90deg,
    #c084fc,
    #3b82f6
  );

  color:white;

  font-size:22px;
  font-weight:600;

  cursor:pointer;
}

@media(max-width:900px){

  .hero-box{
    flex-direction:column;

    text-align:center;

    gap:20px;
  }

  .hero-text{
    width:100%;
  }

}